* {
    box-sizing: border-box;
  }

  header {
      color: purple;
      font-size: larger;
      display: inline;
      justify-content: space-between;
      display: flex;
      
  }

h1 {
    font-weight: bold;
}

  #question-Card {
      display: none;

  }

.question-Card {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    display: block;
    margin-top: 100px;
}

  .quiz-Card {
      border-radius: 50px;
      text-align: center;
      padding: 20px;
      display: block;
      margin: 60px auto;
      width: 40vw;
  }

.answer {
    border: solid purple;
    background-color: purple;
    display: block;
    margin-left: 180px;
    margin-right: 600px;
    text-align: left;
    color: white;
    padding: 10px;
    padding-right: 50px;

}

  .start-Button {
      color: white;
      background-color: purple;
      padding: 20px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
  }

  .timer-Count {

  }